---
project:      /Users/mike/Code/mcrumm/vindinium-hacklang
server:
  domain:     hackdinium.dev
  packages:   [ ]
  vim:
    plugins:
      hack:
        source: https://github.com/hhvm/vim-hack.git
      nerdtree:
        source: https://github.com/scrooloose/nerdtree.git
vm:
  box:        puphpet/ubuntu1404-x64
  port:       '9000'
  nfs:        true
  ip_address: 192.168.50.50
